<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914363237659-jdhsb93egoq2s8dj8ft29s9aabeidu2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914363237659-jdhsb93egoq2s8dj8ft29s9aabeidu2p</string>
	<key>API_KEY</key>
	<string>AIzaSyANSvcy3UFomcvFpqqY6OixT9xcGFU18U8</string>
	<key>GCM_SENDER_ID</key>
	<string>914363237659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.documentScannerApp</string>
	<key>PROJECT_ID</key>
	<string>documentscanner-ba1fe</string>
	<key>STORAGE_BUCKET</key>
	<string>documentscanner-ba1fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914363237659:ios:74ad56cdfa733c9fe9bfbe</string>
</dict>
</plist>